* {
    margin: 0px;
    justify-self: center;
    align-items: center;
    margin-top:auto;
    background-image:linear-gradient(red,yell);
   
}
.border{
     border:2px solid;
     width: 100px;

}

.center h2 {
    margin-top: 200px;
    /* align-items: center; */
    
}

.center label {

    display: block;
    text-align: start;
    /* align-content: end; */
 justify-content:center;
}

.center input {
    display: block;
    text-align: start;


}